### Pandas Cheat Sheet

Pandas is a powerful, open-source data analysis and manipulation library for Python. It provides data structures like DataFrames that make working with tabular data intuitive and efficient. This cheat sheet covers some of the most common operations.

In [1]:
# Import pandas
import pandas as pd
import numpy as np

### 1. Creating DataFrames

DataFrames can be created from various data sources, including dictionaries, lists, CSV files, and databases.

In [2]:
# From a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 27, 22, 32],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston'],
    'Occupation': ['Engineer', 'Artist', 'Doctor', 'Scientist']
}
df = pd.DataFrame(data)
display(df)

# From a list of lists (specify columns)
data_list = [
    ['Eve', 30, 'Miami'],
    ['Frank', 28, 'Boston']
]
df_list = pd.DataFrame(data_list, columns=['Name', 'Age', 'City'])
display(df_list)

# Loading from a CSV (example - uncomment to run if you have a CSV file)
# df_csv = pd.read_csv('your_file.csv')
# display(df_csv.head())

      Name  Age         City Occupation
0    Alice   24     New York   Engineer
1      Bob   27  Los Angeles     Artist
2  Charlie   22      Chicago     Doctor
3    David   32      Houston  Scientist

    Name  Age    City
0    Eve   30   Miami
1  Frank   28  Boston

### 2. Basic DataFrame Information

Get a quick overview of your DataFrame's structure and contents.

In [3]:
# Display the first 5 rows
display(df.head())

# Display the last 3 rows
display(df.tail(3))

# Get a summary of the DataFrame (data types, non-null values)
df.info()

# Get descriptive statistics for numerical columns
display(df.describe())

# Get the shape (rows, columns)
print(f"DataFrame shape: {df.shape}")

# Get column names
print(f"Column names: {df.columns.tolist()}")

      Name  Age         City Occupation
0    Alice   24     New York   Engineer
1      Bob   27  Los Angeles     Artist
2  Charlie   22      Chicago     Doctor
3    David   32      Houston  Scientist

      Name  Age         City Occupation
1      Bob   27  Los Angeles     Artist
2  Charlie   22      Chicago     Doctor
3    David   32      Houston  Scientist

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        4 non-null      object
 1   Age         4 non-null      int64
 2   City        4 non-null      object
 3   Occupation  4 non-null      object
dtypes: int64(1), object(3)
memory usage: 260.0+ bytes

             Age
count   4.000000
mean   26.250000
std     4.349329
min    22.000000
25%    23.500000
50%    25.500000
75%    28.250000
max    32.000000

DataFrame shape: (4, 4)
Column names: ['Name', 'Age', 'City', 'Occupation']

### 3. Selection and Indexing

Access specific columns, rows, or cells.

In [4]:
# Select a single column
display(df['Name'])

# Select multiple columns
display(df[['Name', 'City']])

# Select rows by label (using .loc)
display(df.loc[0]) # Select first row by index label
display(df.loc[0:2]) # Select rows with index labels 0, 1, 2

# Select rows by integer position (using .iloc)
display(df.iloc[0]) # Select first row by position
display(df.iloc[0:2]) # Select rows at positions 0, 1

# Select specific cell by label
display(df.loc[1, 'Age'])

# Select specific cell by position
display(df.iloc[1, 1])

0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

      Name         City
0    Alice     New York
1      Bob  Los Angeles
2  Charlie      Chicago
3    David      Houston

Name             Alice
Age                 24
City          New York
Occupation    Engineer
Name: 0, dtype: object

      Name  Age         City Occupation
0    Alice   24     New York   Engineer
1      Bob   27  Los Angeles     Artist
2  Charlie   22      Chicago     Doctor

Name             Alice
Age                 24
City          New York
Occupation    Engineer
Name: 0, dtype: object

    Name  Age         City Occupation
0  Alice   24     New York   Engineer
1    Bob   27  Los Angeles     Artist

np.int64(27)

np.int64(27)

### 4. Filtering Data

Select rows based on conditions.

In [5]:
# Filter rows where Age is greater than 25
display(df[df['Age'] > 25])

# Filter using multiple conditions
display(df[(df['Age'] > 25) & (df['City'] == 'Los Angeles')])

# Filter using .isin()
display(df[df['City'].isin(['New York', 'Chicago'])])

    Name  Age         City Occupation
1    Bob   27  Los Angeles     Artist
3  David   32      Houston  Scientist

  Name  Age         City Occupation
1  Bob   27  Los Angeles     Artist

      Name  Age      City Occupation
0    Alice   24  New York   Engineer
2  Charlie   22   Chicago     Doctor

### 5. Adding and Modifying Columns

Create new columns or update existing ones.

In [6]:
# Add a new column
df['Salary'] = [70000, 85000, 95000, 110000]
display(df)

# Modify an existing column
df['Age'] = df['Age'] + 1 # Increment all ages
display(df)

# Create a new column based on existing ones
df['Age_Category'] = pd.cut(df['Age'], bins=[0, 25, 30, 100], labels=['Young', 'Adult', 'Senior'])
display(df)

      Name  Age         City Occupation  Salary
0    Alice   24     New York   Engineer   70000
1      Bob   27  Los Angeles     Artist   85000
2  Charlie   22      Chicago     Doctor   95000
3    David   32      Houston  Scientist  110000

      Name  Age         City Occupation  Salary
0    Alice   25     New York   Engineer   70000
1      Bob   28  Los Angeles     Artist   85000
2  Charlie   23      Chicago     Doctor   95000
3    David   33      Houston  Scientist  110000

      Name  Age         City Occupation  Salary Age_Category
0    Alice   25     New York   Engineer   70000        Young
1      Bob   28  Los Angeles     Artist   85000        Adult
2  Charlie   23      Chicago     Doctor   95000        Young
3    David   33      Houston  Scientist  110000       Senior

### 6. Handling Missing Data

Identify, remove, or fill missing values (NaN).

In [7]:
# Create a DataFrame with missing values
df_missing = pd.DataFrame({
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, 7, 8],
    'C': [9, 10, 11, 12]
})
display(df_missing)

# Check for missing values
display(df_missing.isnull())

# Count missing values per column
display(df_missing.isnull().sum())

# Drop rows with any missing values
display(df_missing.dropna())

# Fill missing values with a specific value
display(df_missing.fillna(0))

# Fill missing values with the mean of the column
display(df_missing.fillna(df_missing['A'].mean()))

# Fill missing values with forward fill (propagates last valid observation forward)
display(df_missing.fillna(method='ffill'))

# Fill missing values with backward fill (propagates next valid observation backward)
display(df_missing.fillna(method='bfill'))

     A    B   C
0  1.0  5.0   9
1  2.0  NaN  10
2  NaN  7.0  11
3  4.0  8.0  12

       A      B      C
0  False  False  False
1  False   True  False
2   True  False  False
3  False  False  False

A    1
B    1
C    0
dtype: int64

     A    B   C
0  1.0  5.0   9
3  4.0  8.0  12

     A    B   C
0  1.0  5.0   9
1  2.0  0.0  10
2  0.0  7.0  11
3  4.0  8.0  12

          A         B   C
0  1.000000  5.000000   9
1  2.000000  2.333333  10
2  2.333333  7.000000  11
3  4.000000  8.000000  12

/tmp/ipython-input-2093095277.py:25: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  display(df_missing.fillna(method='ffill'))

     A    B   C
0  1.0  5.0   9
1  2.0  5.0  10
2  2.0  7.0  11
3  4.0  8.0  12

/tmp/ipython-input-2093095277.py:28: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  display(df_missing.fillna(method='bfill'))

     A    B   C
0  1.0  5.0   9
1  2.0  7.0  10
2  4.0  7.0  11
3  4.0  8.0  12

### 7. Grouping and Aggregation

Group data by one or more columns and apply aggregate functions (sum, mean, count, etc.).

In [8]:
data_agg = {
    'Department': ['HR', 'IT', 'HR', 'IT', 'Sales'],
    'Employee': ['A', 'B', 'C', 'D', 'E'],
    'Salary': [50000, 70000, 55000, 80000, 60000]
}
df_agg = pd.DataFrame(data_agg)
display(df_agg)

# Group by Department and calculate mean salary
display(df_agg.groupby('Department')['Salary'].mean())

# Group by Department and get multiple aggregations
display(df_agg.groupby('Department').agg({
    'Salary': ['mean', 'min', 'max', 'count'],
    'Employee': 'count' # Count employees per department
}))

  Department Employee  Salary
0         HR        A   50000
1         IT        B   70000
2         HR        C   55000
3         IT        D   80000
4      Sales        E   60000

Department
HR       52500.0
IT       75000.0
Sales    60000.0
Name: Salary, dtype: float64

             Salary                     Employee
               mean    min    max count    count
Department
HR          52500.0  50000  55000     2        2
IT          75000.0  70000  80000     2        2
Sales       60000.0  60000  60000     1        1

### 8. Sorting Data

Sort DataFrame rows by one or more columns.

In [9]:
# Sort by 'Age' in ascending order
display(df.sort_values(by='Age'))

# Sort by 'Age' in descending order
display(df.sort_values(by='Age', ascending=False))

# Sort by multiple columns
display(df.sort_values(by=['City', 'Age'], ascending=[True, False]))

      Name  Age         City Occupation  Salary Age_Category
2  Charlie   23      Chicago     Doctor   95000        Young
0    Alice   25     New York   Engineer   70000        Young
1      Bob   28  Los Angeles     Artist   85000        Adult
3    David   33      Houston  Scientist  110000       Senior

      Name  Age         City Occupation  Salary Age_Category
3    David   33      Houston  Scientist  110000       Senior
1      Bob   28  Los Angeles     Artist   85000        Adult
0    Alice   25     New York   Engineer   70000        Young
2  Charlie   23      Chicago     Doctor   95000        Young

      Name  Age         City Occupation  Salary Age_Category
2  Charlie   23      Chicago     Doctor   95000        Young
3    David   33      Houston  Scientist  110000       Senior
1      Bob   28  Los Angeles     Artist   85000        Adult
0    Alice   25     New York   Engineer   70000        Young

### 9. Merging/Joining DataFrames

Combine DataFrames based on common columns (keys).

In [10]:
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David']
})
df2 = pd.DataFrame({
    'ID': [1, 2, 5, 6],
    'Score': [90, 85, 92, 78]
})
display(df1)
display(df2)

# Inner merge (default): combines only matching IDs
display(pd.merge(df1, df2, on='ID', how='inner'))

# Left merge: keeps all rows from df1 and matching from df2
display(pd.merge(df1, df2, on='ID', how='left'))

# Right merge: keeps all rows from df2 and matching from df1
display(pd.merge(df1, df2, on='ID', how='right'))

# Outer merge: keeps all rows from both DataFrames, filling with NaN where no match
display(pd.merge(df1, df2, on='ID', how='outer'))

   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
3   4    David

   ID  Score
0   1     90
1   2     85
2   5     92
3   6     78

   ID   Name  Score
0   1  Alice     90
1   2    Bob     85

   ID     Name  Score
0   1    Alice   90.0
1   2      Bob   85.0
2   3  Charlie    NaN
3   4    David    NaN

   ID   Name  Score
0   1  Alice     90
1   2    Bob     85
2   5    NaN     92
3   6    NaN     78

   ID     Name  Score
0   1    Alice   90.0
1   2      Bob   85.0
2   3  Charlie    NaN
3   4    David    NaN
4   5      NaN   92.0
5   6      NaN   78.0